{% extends "dashboardbase.html" %}
{% load static %}

{% block content %}

    {# Check whether user is logged in #}
    {% if user.is_authenticated %}

        <div class='dash-container'>

            <div class='dash-content'>
               
                <h1>RoamBot-er Dashboard</h1>
                <div class='dash-grid-wrapper'>
                    <div class='dash-grid'>
                        <div class='workshop-menu grid-item'>
    
                            <h2>Workshop status: 
                                {% if workshop %}
                                    <span class='green'>Open</span>
                                {% else %}
                                    <span class='red'>Closed</span>
                                {% endif %}
                            </h2>
                            
                            <div class='menu-buttons'>
                                {% if workshop %}

                                    <div class='danger-zone'>
                                        <h4 class='red'>Danger Zone:</h4>
                                        <button type="button" id='close-workshop-button'>Close Workshop</button>
                                    </div>
    
    
                                {% else %}
                                    <button type="button" id='open-workshop-button'>Open Workshop</button>
                                {% endif %}
                            </div>
                        </div>
    
                        {% if workshop %}
    
                            <div class='team-codes grid-item'>
                                <h2>Team Codes</h2>

                                <div class='team-code-list'>

                                    {% if teams %}
                                        <div class='team-code-list-codes'>
                                            {% for team in teams %}
                                            <div>
                                                <div class='team-code'>{{ team.team_code }}</div>
                                                <div class='team-active'>
                                                    {% if team.active %} 
                                                        <span class='green'>active</span>
                                                    {% else %}
                                                        <span class='red'>inactive</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>

                                    {% else %}
                                        <h4>No team codes</h4>

                                    {% endif %}
                                </div>

                                <div class='form-wrapper'>
                                    <form method="POST" action="/dashboard/generate/" id='generate-form'>
                                        {% csrf_token %}
    
                                        <input type="number" name="amount" placeholder="Number of new codes"></input>
                                        <input type="submit" value="Generate" id="generate-team-codes-button"></input>

                                    </form>
                                </div>
    
                            </div>    
    
                        {% endif %}
                    </div>
                </div> 
            </div>

        </div>


    {% endif %}


{% endblock %}

{% block extra_js %}
    <script src="{% static '/dashboard/js/dashboard.js' %}"></script>
{% endblock %}


