{% extends "base.html" %}

{% load static %}
{% load fontawesome_5 %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}

    <div>
        <h1>RoamB{% fa5_icon 'robot' %}t-er </h1>
        <p>Build and Test your own AI against the wits of others.</p>
    </div>

    <div>
        <button type="submit" id="save-ai-button">Save AI</button>
    </div>
    
    
{% endblock %}

{% block extra_js %}
    <script src="{% static 'home/js/aimenu.js' %}"></script>
{% endblock %}
