{% extends "base.html" %}

{% load static %}
{% load fontawesome_5 %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}

    <div>
        <h1>RoamB{% fa5_icon 'robot' %}t-er </h1>
        <p>Build and Test your own AI against the wits of others.</p>
    </div>

    <br>
    <br>
        {% if request.session.registered %}
            <div>
                <p>You are already in a team!</p> 
            </div>
        {% else %}

            <div>
                <h3>Enter Team</h3>
                <form action="/team/enter" method="POST">
                    {% csrf_token %}
                    <input type="number" id="tcode" name="team_code" placeholder="Your team code">
                    <input type="submit" value="Enter">
                </form>
            </div>

        {% endif %}
    
    
{% endblock %}

{% block extra_js %}
{% endblock %}
