/* CSS settings for all pages */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    color: #333;
}
