div#AIEditor {
    display: block;

    height: 100%;
    width: 100%;
}

div#AIEditor .ai-editor-grid {
    height: 100%;
}

div#ai-editor-menu {
    display: flex;
    flex-direction: column;

    width: 100%;
    overflow: hidden;
}

div#ai-editor-menu button {
    margin: 0.5rem;
}